@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #212121;
    display: flex;
    flex-direction: row;
}
.principalPage{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-bottom: 20px;
}


/*form*/
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    color:black;
}

.form label {
    position: relative;
  }

  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    background-color: black;
  }

  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .tabs {
    display: flex;
    margin-bottom: 20px;
    background-color: "#fff";
}

.tabs button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.tabs button.active {
    background-color: #ccc;
}

